<html>
<head>
<title>Desktop</title>
</head>
<body>
<h1>Create a lobby</h1> 
<form action="/" name=lobbyCreation method="POST">

Max Players: <input maxLength=1 size=1
name=numberAllowedUsers value="" title="Max Players">
<br>
<br>
Listen For:
<br>
<input type="checkbox" name="x" value="x">X<br>
<input type="checkbox" name="y" value="y">Y<br>
<input type="checkbox" name="z" value="z">Z<br>
<input type="checkbox" name="alpha" value="alpha">Alpha<br>
<input type="checkbox" name="beta" value="beta">Beta<br>
<input type="checkbox" name="gamma" value="gamma">Gamma<br>
<br>
<br>
<input type=submit value="Create Lobby" name=qr>
</form>
</body>
</html>