<html>
<head>
<title>Desktop</title>
</head>
<body>
<h1>Lobby {{.}}</h1> 
<textarea id="textUpdate" style="width: 750px; height: 400px; overflow: scroll"></textarea>
<script src="javascript/desktopClient.js"></script>
<script>

if (typeof lobbySocket != "undefined") {
	var lbS = lobbySocket.getInstance();

	lbS.setLobbyID("{{.}}");
	lbS.setServerAddress("10.0.1.75:8080/websocket");
	lbS.start(); //kick it off
} else {
	console.log("Could not find deviceSocket");
}
</script>
</body>
</html>