<html>
<head>
<title>Desktop</title>
</head>
<body>
<h1>Lobby {{.LobbyID}}</h1> 
<textarea id="textUpdate" style="width: 750px; height: 400px; overflow: scroll"></textarea>
<script src="javascript/desktopClient.js"></script>
<script>

if (typeof lobbySocket != "undefined") {
	var lbS = lobbySocket.getInstance();

	lbS.setLobbyID("{{.LobbyID}}");
	lbS.setServerAddress("{{.ServerAddress}}");
	lbS.start(); //kick it off
} else {
	console.log("Could not find lobbySocket");
}
</script>
</body>
</html>