<html>
<head>
<title>Mobile</title>

</head>
<body>
<h1>In lobby {{.}}</h1> 

</body>
<script src="javascript/phoneSocket.js"></script>
<script>

if (typeof phoneSocket != "undefined") {
	var pS = phoneSocket.getInstance();

	if (pS.checkBrowserSupport()) {
		pS.setLobbyID("{{.}}");
		pS.setServerAddress("10.0.1.75:8080/websocket");
		pS.setFrequency(100);
		pS.start(); //kick it off
	} else {
		console.log(pS.isBrowserSupported());
		console.log("Browser is not supported.");
	}
} else {
	console.log("Could not find phoneSocket");
}
</script>
</html>