<html>
<head>
<meta name="viewport" content="width=device-width">
<title>Mobile</title>
<style>
div.container {
  position: absolute;
  top: 30%;
  left: 37%;
  margin: 0px;
  padding: 0px;
}

div.h2 {
  margin-top: 2px;
}

div.main {
  position: absolute;
  top: -2px;
  left: -2px;
  text-decoration: none;
  background-color: none;
  color: darkgrey;
  padding: 5px;
  border: 1.5px solid lightgrey;
}

#recalibrateDevice {
  position: absolute;
  top: 0px;
  right: 0px;
  text-decoration: none;
  font-size: 24px;
  background-color: lightgrey;
  color: white;
  font-weight: bolder;
  padding: 5px;
}

table {
  color: grey;
}
</style>
</head>
<body>
<div class="main">
  <h2>Debug Information</h2>
  <table>
    <tr>
      <td>Server Address</td>
      <td>{{.ServerURL}}</td>
    </tr>
    <tr>
      <td>Lobby ID</td>
      <td>{{.LobbyID}}</td>
    </tr>
    <tr>
      <td>Update Frequency</td>
      <td>{{.Frequency}}</td>
    </tr>
    <tr>
      <td>Tilt Left/Right [gamma]</td>
      <td id="doTiltLR"></td>
    </tr>
    <tr>
      <td>Tilt Front/Back [beta]</td>
      <td id="doTiltFB"></td>
    </tr>
    <tr>
      <td>Direction [alpha]</td>
      <td id="doDirection"></td>
    </tr>
   </table>
</div>

<a href="#" onclick="dvS.recalibrateDevice()" id="recalibrateDevice">Recalibrate Device</a>

<div class="container">
  <img src="images/phone.png" id="imgLogo" class="logo">
</div>

</body>
<script src="javascript/deviceClient.js"></script>
<script>

if (typeof deviceSocket != "undefined") {
	var dvS = deviceSocket.getInstance();

	if (dvS.checkBrowserSupport()) {
		dvS.setLobbyID("{{.LobbyID}}");
		dvS.setServerAddress("{{.ServerURL}}");
		dvS.setFrequency({{.Frequency}});
		dvS.start(); //kick it off
	} else {
		console.log(dvS.isBrowserSupported());
		console.log("Browser is not supported.");
	}
} else {
	console.log("Could not find deviceSocket");
}
</script>
</html>