<html>
<head>
<title>Mobile</title>
</head>
<body>
<h1>Please enter a code to join lobby</h1> 
<form action="/mobile" name=lobbyJoin method="GET">

Lobby Code: <input maxLength=15 size=15
name=lobbyCode value="" title="lobbyCode">
<br>
<br>
<input type=submit value="Join Lobby" name=qr>
</form>
</body>
</html>