<html>
<head>
<title>Mobile</title>

</head>
<body>
<h1>In lobby {{.}}</h1>
</body>
<script src="javascript/deviceClient.js"></script>
<script>

if (typeof deviceSocket != "undefined") {
	var dvS = deviceSocket.getInstance();

	if (dvS.checkBrowserSupport()) {
		dvS.setLobbyID("{{.}}");
		dvS.setServerAddress("10.0.1.75:8080/websocket");
		dvS.setFrequency(250);
		dvS.start(); //kick it off
	} else {
		console.log(dvS.isBrowserSupported());
		console.log("Browser is not supported.");
	}
} else {
	console.log("Could not find deviceSocket");
}
</script>
</html>